/* Modal de Detalhes do Filme */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
}

.modal-content {
  background-color: #f3cfa5;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 900px;
}

.modal-body {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.modal-body img {
  width: 250px;
  height: auto;
  background: #ccc;
  border-radius: 4px;
}

.modal-info h2 {
  margin-top: 0;
  color: #1f1f1f;
}

.modal-info p {
  color: #1f1f1f;
  line-height: 1.4;
}

.estrelas {
  color: orange;
  font-size: 1.2em;
  margin-left: 5px;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
/* Ícone de perfil com menu suspenso */
.user-menu {
  position: relative;
  display: inline-block;
}

.user-icon {
  background-color: #f4d7a1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user-icon img {
  width: 22px;
  height: 22px;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #1F1F1F;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 10;
  min-width: 100px;
}

.user-dropdown a {
  display: block;
  color: #bb5050;
  text-decoration: none;
  margin: 12px 0;
  font-size: 18px;
}

.user-dropdown a:hover {
  text-decoration: underline;
}
