/* Estilos dos cards de filmes */
.filme-card {
  width: 150px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.filme-card:hover {
  transform: scale(1.05);
}

.filme-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Estilos do modal */
.modal {
  display: none; /* Modal está escondido inicialmente */
  position: fixed;
  z-index: 1; /* Fica sobre os outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo semitransparente */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}

.modal-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.modal-fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-fechar:hover,
.modal-fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Botão de favoritar CSS */
.btn-favorito {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: red;
  margin-top: 5px;
}

.btn-favorito:hover {
  transform: scale(1.2);
}

.btn-favorito-modal {
    background: none;
    border: 1px solid red;
    color: red;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-favorito-modal:hover {
    background: red;
    color: white;
}